body {
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Libre Franklin", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}


.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, auto);
}

h2 {
  margin-bottom: 0;
}

.full-stop {
  color: hsl(223, 87%, 63%);
}

.header {
  display: flex;
  justify-content: center;
  gap: 1ch;
}

.header > h1:nth-child(1) {
  font-weight: lighter;
  color: hsl(0, 0%, 59%);
}

.header > h1 {
  margin-bottom: 0;
}

.header-p {
  font-weight: 400;
  font-size: small;
  margin-top: 0.4rem;
}

form {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 0.7rem;
  margin: 2rem 0;
}

input {
  padding: 0.7rem 1rem;
  border-radius: 2rem;
  border: 0.02rem solid hsl(223, 87%, 63%);
  font-family: "Libre Franklin", sans-serif;

}

input::placeholder {
  font-family: "Libre Franklin", sans-serif;
  opacity: 0.5;
}

.error {
  font-size: x-small;
  font-style: italic;
  color: hsl(354, 100%, 66%);
}

button {
  padding: 0.7rem;
  background-color: hsl(223, 87%, 63%);
  color: white;
  border: 0.02rem solid hsl(223, 87%, 63%);
  border-radius: 2rem;
}

.dashboard {
  height: 300px;
  width: 500px;
}

.logo-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

i {
  color: hsl(223, 87%, 63%);
}

.copyright {
  font-size: x-small;
}


/* ACTIVE STATES */

/* input:focus {
  outline: none !important;
  border: 0.09rem solid hsl(248, 32%, 49%);
} */

button:hover {
  cursor: pointer;
}

button:active {
  cursor: pointer;
}

i:hover {
  color: rgba(0, 0, 0, 0.475);
  cursor: pointer;
}


/* RESPONSIVE DESIGN */

@media (max-width:540px) {
  body {
    height: fit-content;
    padding: 2rem 2rem;
  }

  .header > h1{
    font-size: x-large;
  }

  form {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 0.7rem;
    margin: 2rem 0;
  }

.dashboard {
    width: 100%;
  }
}