body {
  height: 100vh;
  text-align: center;
  /* font-size: 20px; */
}

.container {
  display: grid;
  grid-template-columns: 1fr;
}

.dashboard {
  height: 300px;
  width: 500px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
